<form>
  <div id="search-filter-bar" class="form-group">
    <img
      src="../../../../assets/icons/filter.png"
      alt="filter"
      class="filter-img"
    />
    <select name="categories" class="categories" value="" onchange="">
      <option value="all">All</option>
      <option value="zones">Zones</option>
      <option value="sites">Sites</option>
      <option value="placemarks">Placemarks</option>
      <option value="layers">Layers</option>
    </select>
    <input type="search" class="search" />
    <button type="button" class="btn-search">
      <img
        src="../../../../assets/icons/search.png"
        alt=""
        class="search-img"
      />
    </button>
  </div>
</form>
